<p-toast position="top-right" />

<div class="min-h-screen min-w-full">
  <div class="flex min-h-screen justify-content-center align-content-center flex-wrap">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="text-center mb-5">
          <img src="assets/images/icons8-money-box-light.gif" alt="Image" height="50" class="mb-3">
          <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
          <span class="text-600 font-medium line-height-3">Don't have an account?</span>
          <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" href="sign-up">Create today!</a>
      </div>

      <div>
          <label for="username" class="block text-900 font-medium mb-2">Username: </label>
          <input
            id="username"
            type="text"
            placeholder="username"
            pInputText class="w-full mb-3"
            formControlName="username"
          />
          <div *ngIf="loginForm?.get('username')?.invalid && loginForm?.get('username')?.touched" class="bg-danger mb-2" >
              Inform a valid username.
          </div>

          <label for="password" class="block text-900 font-medium mb-2">Password: </label>
          <input
            id="password"
            type="password"
            placeholder="Password"
            pInputText
            class="w-full mb-3"
            formControlName="password"
          />
          <div *ngIf="loginForm?.get('password')?.invalid && loginForm?.get('password')?.touched" class="bg-danger mb-2" >
              Inform a valid password.
          </div>

          <div class="flex align-items-center justify-content-between mb-6">
              <div class="flex align-items-center">
                  <p-checkbox
                    id="rememberme"
                    [binary]="true"
                    label="Remember me"
                    class="text-900 font-medium"
                    formControlName="rememberme"
                  />
              </div>
              <a
                class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
                href="forgot-password"
              > Forgot password? </a>
          </div>

          <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
      </div>
      </form>
    </div>
  </div>
</div>
