<div class="min-h-screen min-w-full">
  <div class="flex min-h-screen justify-content-center align-content-center flex-wrap">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
      <form (ngSubmit)="onSubmit()" [formGroup]="recoverForm">
      <div class="text-center mb-5">
          <img src="assets/images/icons8-money-box-light.gif" alt="Image" height="50" class="mb-3">
          <div class="mb-3">
              <span class="text-600 font-medium line-height-3">Inform your Email</span>
          </div>
      </div>

      <div>
          <label for="email" class="block text-900 font-medium mb-2">Email: </label>
          <input
            id="email"
            name="email"
            type="text"
            placeholder="Email address"
            pInputText class="w-full mb-3"
            formControlName="email"
          />
          <div *ngIf="recoverForm?.get('email')?.invalid && recoverForm?.get('email')?.touched" class="bg-danger mb-2" >
              Inform a valid email.
          </div>

          <button pButton pRipple label="Send" icon="pi pi-inbox" class="w-full"></button>
      </div>
      </form>
    </div>
  </div>
</div>
